.button {
    background-color: var(--color-primary);
    color: var(--color-primary-text);
    font-weight: bold;
    text-transform: uppercase;
 
    /* padding, margin y borde */
 
    padding: 1.25rem 2.5rem;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    width: fit-content;
 
    /* propiedades para la animacion  */
 
    transition: all 0.20s linear;
  }
