:root {
    --color-primary: #dc2626;
    --color-primary-light: #ef4444;
    --color-primary-text: #fff;
    --white: #ffffff;
    --green-500: #22c55e;
    --black: #000000;
    --blue-google: #4285f4;
    --gray-gray-500: #6b7280;
    --gray-50: #f9fafb;
}