.google {
    border-radius: 5px;
    border: solid 1px var(--blue-google);
    background-color: var(--white);
    color: var(--blue-google);
    width: 100%;
}
.google_content{
    display: grid;
    align-items: center;
    grid-template-columns: 1.5rem 1fr;
}
.rss{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 0.5rem;
    align-items: center;
    color:var(--gray-gray-500);
}
.rss_separator{
    height: 1px;
    background-color: var(--gray-gray-500);
}
.register{
    background-color: var(--color-primary);
    color: var(--color-primary-text);
    font-weight: bold;
    text-transform: uppercase;
 
    /* padding, margin y borde */
 
    padding: var(--space-xs);
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
 
    /* propiedades para la animacion  */
 
    transition: all 0.20s linear;
    text-decoration: none;
}

.button{
    width: 100%;
    background-color: var(--white);
}
@media (max-width: 960px) {
    .h2 {
      font-size: 1.35rem;
    }
}