.input {
    padding: var(--space-m);
    border-radius: .3125rem;     
    border: solid 1px var(--gray-gray-500);
    background-color: var(--white);  
    margin-bottom: 1rem; 
    line-height: 1rem;
    color: var(--gray-gray-500);
    padding-right: 20rem;
}